extends layout.pug

block content
  style
    each rank in ranks
      .
        .rank-#{rank.level} {
          color: rgb(#{colorToRGB(rank.role.color)});
        }

  section.leaderboard
    .col
      h2 Lifetime Leaderboard
      table
        tbody
          each score, index in scores
            tr(data-user-id=score.user.id)
              td= score.points
              td(class=`rank-${score.level}`)= score.user.displayName
    .col
      h2 Annual Leaderboard
      table
        tbody
          each score, index in annual
            tr(data-user-id=score.user.id)
              td= score.points
              td(class=`rank-${scores.find(s => s.userId === score.userId).level}`)= score.user.displayName

  section.ranks
    h2 Ranks
    ul
      each rank in ranks
        li
          span(class=`rank-${rank.level}`)= rank.name

