extends layout.pug

block content
  section.leaderboard
    .col
      h2 Lifetime Leaderboard
      table
        tbody
          each score, index in scores
            tr(data-user-id=score.user.id)
              td= score.points
              td= score.user.displayName
    .col
      h2 Annual Leaderboard
      table
        tbody
          each score, index in annual
            tr(data-user-id=score.user.id)
              td= score.points
              td= score.user.displayName
